Django>=4.2.5
Pillow
openai
django-crispy-forms
psycopg2-binary
python-decouple
dj-database-url
django-allauth
crispy-bootstrap5
python-dotenv
mkdocs==1.4.2
mkdocs-material==8.5.8
django-compressor
whitenoise
django-modeltranslation
django-rosetta
idna==3.3
