# Django framework
Django>=4.2.5

# For handling image fields
Pillow

# For integrating OpenAI's GPT-3 model
openai

# For improved form rendering
django-crispy-forms

# For PostgreSQL
psycopg2-binary

# For environment variables
python-decouple

dj-database-url
