{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}Articles{% endblock %}

{% block content %}
<div class="container">
    <div class="listin__item card">
        <h1 class="card-title">Articles</h1>
        <div class="card-content">
            <ul>
                {% for article in articles %}
                <li>
                    <a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a>
                    <p>{{ article.meta_description }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
