{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}{% if form.instance.pk %}Edit Article{% else %}Create Article{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <div class="listin__item">
        <h1>{% if form.instance.pk %}Edit Article{% else %}Create Article{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}
                <img src="{% static 'main/media/ecrire-lignes-stylo.svg' %}" alt="Update"> Update
                {% else %}
                <img src="{% static 'main/media/ajouter-plus.svg' %}" alt="Create"> Create
                {% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock %}
