{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Chatbot" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="listin__item">
        <h1>{% trans "Chatbot" %}</h1>

        <!-- Chatbot interaction area -->
        <div id="chat-response" class="chat-response listin__item"></div>

        <h3>{% trans "Ask the Chatbot" %}</h3>
        <form id="chat-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea id="message" name="message" class="form-control" rows="3" placeholder="{% trans "Type your message here..." %}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
                <img src="{% static 'main/media/envoyer-flèche.svg' %}" alt="{% trans "Send" %}"> {% trans "Send" %}
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('chat-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const message = document.getElementById('message').value;
        fetch("{% url 'chatbot' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({message: message})
        })
        .then(response => response.json())
        .then(data => {
            const chatResponse = document.getElementById('chat-response');
            const responseElement = document.createElement('div');
            responseElement.className = 'listin__item';
            responseElement.innerHTML = `<strong>{% trans "You" %}:</strong> ${message}<br><strong>{% trans "Chatbot" %}:</strong> ${data.response}`;
            chatResponse.appendChild(responseElement);
            document.getElementById('message').value = '';
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}
