{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/pUWCnazcsbU?autoplay=1&mute=1&loop=1&playlist=pUWCnazcsbU&start=120" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video-overlay"></div>
</div>

<div class="container mt-4" style="position: relative; z-index: 1;">
    <h1 class="card-title">Welcome to the Blog</h1>
    <!-- List of articles on the home page -->
    <div class="article-list">
        {% for article in articles %}
        <div class="listin__item article-card">
            <h2><a href="{% url 'article_detail' article.slug %}">{{ article.title }}</a></h2>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
