{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card listin__item">
        <div class="card-body">
            <h1 class="card-title">{% trans "Login" %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                    <img src="{% static 'main/media/login-icon.svg' %}" alt="{% trans 'Login' %}"> {% trans "Login" %}
                </button>
            </form>
            <div class="mt-3">
                <a href="{% url 'password_reset' %}" class="btn btn-link">{% trans "Forgot Password?" %}</a>
                <a href="{% url 'register' %}" class="btn btn-link">{% trans "Don't have an account? Register" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
