{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}Logout{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card listin__item">
        <div class="card-body">
            <h1 class="card-title">Logout</h1>
            <p>Are you sure you want to log out?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    <img src="{% static 'main/media/logout-icon.svg' %}" alt="Logout"> Yes, log me out
                </button>
                <a href="{% url 'home' %}" class="btn btn-secondary">
                    <img src="{% static 'main/media/cancel-icon.svg' %}" alt="Cancel"> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
