{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-4" style="position: relative; z-index: 1;">
    <h1 class="card-title">{% trans "Profile" %}</h1>
    <div class="card listin__item">
        <h2>{% trans "Update your profile" %}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ u_form.as_p }}
            {{ p_form.as_p }}
            <button type="submit" class="btn btn-primary listin__item">
                <img src="{% static 'main/media/ecrire-lignes-stylo.svg' %}" alt="Update"> {% trans "Update Profile" %}
            </button>
        </form>
    </div>

    {% if user.is_authenticated %}
    <div class="card listin__item mt-4">
        <h2>{% trans "Delete your account" %}</h2>
        <form method="post" action="{% url 'delete_account' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger listin__item">
                <img src="{% static 'main/media/rectangle-xmark.svg' %}" alt="Delete"> {% trans "Delete Account" %}
            </button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
